body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.navbar-light{
  background-color: #f4eedc;
}

.site-container{
  min-height: 100vh;
}

main {
  flex: 1;
}

.btn-primary{
  background-color: rgb(38, 127, 97);
  color: rgb(214,219,199);

}

.products{
  display: flex;
  flex-wrap: wrap;
}

.rating span{
  color:rgb(195, 107, 136);
}

.product{
  border: 1px black solid;
  margin: 1rem;
}

.product img{
  width: 100%;
  max-width: 400px;
}

.product-info{
  padding: 1 rem;
}

.img-large {
  max-width: 100%;
}

.img-thumbnail {
  height: 80px; 
}

.small-container {
  max-width: 600px;
}

.checkout > div {
  border-bottom: 0.2rem solid rgb(195, 107, 136);
  color: rgb(195, 107, 136);
}

.checkout > div.active {
  border-bottom: 0.2rem solid rgb(38, 127, 97);
  color:rgb(38, 127, 97);
}